Repository GQCG/GQCP, pull requests merged in 2020-09, with the labels that each got.

#639 Improve CI density matrix APIs
  gqcp/include/Processing/DensityMatrices/CIDMCalculators/BaseSpinResolvedDMCalculator.hpp
  gqcp/include/Processing/DensityMatrices/CIDMCalculators/BaseSpinResolvedFrozenDMCalculator.hpp
  gqcp/include/Processing/DensityMatrices/CIDMCalculators/GeneralDMCalculator.hpp
  gqcp/include/Processing/DensityMatrices/CIDMCalculators/SeniorityZeroDMCalculator.hpp
  gqcp/include/Processing/DensityMatrices/CIDMCalculators/SpinResolvedDMCalculator.hpp
  gqcp/include/Processing/DensityMatrices/CIDMCalculators/SpinResolvedSelectedDMCalculator.hpp
  gqcp/include/Processing/DensityMatrices/CIDMCalculators/SpinUnresolvedDMCalculator.hpp
  gqcp/include/QCMethod/CI/DOCINewtonOrbitalOptimizer.hpp
  gqcp/include/QCModel/CI/LinearExpansion.hpp
  gqcp/src/Processing/DensityMatrices/CIDMCalculators/BaseSpinResolvedFrozenDMCalculator.cpp
  gqcp/src/Processing/DensityMatrices/CIDMCalculators/GeneralDMCalculator.cpp
  gqcp/src/Processing/DensityMatrices/CIDMCalculators/SeniorityZeroDMCalculator.cpp
  gqcp/src/Processing/DensityMatrices/CIDMCalculators/SpinResolvedDMCalculator.cpp
  gqcp/src/Processing/DensityMatrices/CIDMCalculators/SpinResolvedSelectedDMCalculator.cpp
  gqcp/tests/Processing/DensityMatrices/CIDMCalculators/FrozenCoreDOCIRDMBuilder_test.cpp
  gqcp/tests/Processing/DensityMatrices/CIDMCalculators/GeneralDMCalculator_test.cpp
  gqcp/tests/Processing/DensityMatrices/CIDMCalculators/SeniorityZeroDMCalculator_test.cpp
  gqcp/tests/Processing/DensityMatrices/CIDMCalculators/SpinResolvedDMCalculator_test.cpp
  gqcp/tests/Processing/DensityMatrices/CIDMCalculators/SpinResolvedFrozenDMCalculator_test.cpp
  gqcp/tests/Processing/DensityMatrices/CIDMCalculators/SpinResolvedSelectedDMCalculator_test.cpp
  gqcp/tests/Processing/Properties/expectation_values_test.cpp
  gqcp/tests/QCMethod/Applications/AtomicDecompositionParameters_test.cpp
  gqcpy/CMakeLists.txt
  gqcpy/include/CMakeLists.txt
  gqcpy/include/utilities.hpp
  gqcpy/src/Operator/SecondQuantized/SQTwoElectronOperator_bindings.cpp
  gqcpy/src/QCModel/CI/LinearExpansion_bindings.cpp
  site/docs/user_documentation/quantum_chemical_methods.md
  site/docs/user_documentation/quantum_chemical_models.md
  site/website/i18n/en.json
  site/website/sidebars.json
Labels: C++, Python, documentation, feature, refactor, website

#669 Update GA for release (closes #666, closes #670).
  .github/workflows/docker-gqcp-build.yml
  CMakeLists.txt
  conda/build.sh
  conda/conda_build_config.yaml
  conda/meta.yaml
  gqcp/CMakeLists.txt
  gqcp/include/Basis/Integrals/BaseOneElectronIntegralBuffer.hpp
Labels: devops

#664 Feature/path documentation
  .gitignore
  media/ONVPath_00110_1.tex
  media/ONVPath_00110_2.tex
  media/ONVPath_00110_3.tex
  media/ONVPath_00110_4.tex
  media/ONVPath_00111.tex
  media/ONVPath_01110.tex
  media/ONVPath_10110.tex
  site/docs/developer_documentation/ONV_path_manipulation.md
  site/website/i18n/en.json
  site/website/sidebars.json
  site/website/static/img/ONVPath_00110_1.png
  site/website/static/img/ONVPath_00110_2.png
  site/website/static/img/ONVPath_00110_2_3_side.png
  site/website/static/img/ONVPath_00110_3.png
  site/website/static/img/ONVPath_00110_4.png
  site/website/static/img/ONVPath_00111.png
  site/website/static/img/ONVPath_01110.png
  site/website/static/img/ONVPath_10110.png
  site/website/static/img/blocks.png
Labels: documentation
