Repository GQCG/GQCP, pull requests merged in 2021-03, with the labels that each got.

#890 [CMake] GQCP version refactor
  CMakeLists.txt
  cmake/version.hpp.in
  gqcp/CMakeLists.txt
Labels: CMake

#904 [CMake] Refactor gqcp_version to a static library instead of header-only.
  CMakeLists.txt
  cmake/version.cpp.in
  cmake/version.hpp.in
  gqcpy/__init__.py.in
  gqcpy/version.cpp
Labels: CMake, complexity: medior

#907 Provide tutorial on calculating GTO overlap integrals
  gqcp/include/Basis/Integrals/CMakeLists.txt
  gqcp/include/Basis/Integrals/FunctionalPrimitiveEngine.hpp
  gqcp/include/Basis/Integrals/McMurchieDavidsonCoefficient.hpp
  gqcp/include/gqcp.hpp
  gqcp/src/Basis/Integrals/McMurchieDavidsonCoefficient.cpp
  gqcpy/gqcpy.cpp
  gqcpy/src/Basis/CMakeLists.txt
  gqcpy/src/Basis/Integrals/CMakeLists.txt
  gqcpy/src/Basis/Integrals/FunctionalPrimitiveEngine_bindings.cpp
  gqcpy/src/Basis/Integrals/IntegralCalculator_bindings.cpp
  gqcpy/src/Basis/Integrals/McMurchieDavidsonCoefficient_bindings.cpp
  gqcpy/src/Basis/Integrals/OneElectronIntegralEngine_bindings.cpp
  gqcpy/src/Basis/ScalarBasis/CMakeLists.txt
  gqcpy/src/Basis/ScalarBasis/ScalarBasis_bindings.cpp
  gqcpy/src/Basis/ScalarBasis/ShellSet_bindings.cpp
  gqcpy/src/Basis/SpinorBasis/RSpinOrbitalBasis_bindings.cpp
  gqcpy/src/Mathematical/CMakeLists.txt
  gqcpy/src/Mathematical/Functions/CMakeLists.txt
  gqcpy/src/Mathematical/Functions/CartesianDirection_bindings.cpp
  gqcpy/src/Mathematical/Functions/CartesianExponents_bindings.cpp
  gqcpy/src/Mathematical/Functions/CartesianGTO_bindings.cpp
  website/examples/Calculating integrals over GTOs.ipynb
Labels: C++, Python, documentation, novel, website

#920 Bugfix: GIT_SHA1 variable empty in gqcpy.
  CMakeLists.txt
  gqcp/CMakeLists.txt
  gqcpy/CMakeLists.txt
  gqcpy/tests/test_version.py
Labels: CMake, bug

#922 Implement LeviCivitaTensor
  gqcp/include/Mathematical/Representation/LeviCivitaTensor.hpp
  gqcp/include/gqcp.hpp
  gqcp/tests/Mathematical/Representation/CMakeLists.txt
  gqcp/tests/Mathematical/Representation/LeviCivitaTensor_test.cpp
Labels: C++, complexity: junior, novel

#929 CP(R)HF for magnetic fields
  gqcp/include/QCModel/HF/RHF.hpp
Labels: C++, complexity: medior, novel
