Repository GQCG/GQCP, pull requests merged in 2021-04, with the labels that each got.

#931 Refactor CMake such that CMAKE_MODULE_PATH no longer has to be set.
  .github/workflows/build-and-test.yml
  cmake/gqcp-config.cmake.in
Labels: CMake

#926 Bugfix: gqcpy does not show git SHA.
  CMakeLists.txt
  gqcpy/tests/test_version.py
Labels: CMake, bug

#946 Add functional header for ONVBasis bindings.
  gqcpy/src/ONVBasis/SpinResolvedONVBasis_bindings.cpp
  gqcpy/src/ONVBasis/SpinUnresolvedONVBasis_bindings.cpp
Labels: Python, bug

#951 Extra bindings for ONVBasis objects.
  gqcp/include/ONVBasis/SpinResolvedONVBasis.hpp
  gqcpy/src/ONVBasis/SpinResolvedONVBasis_bindings.cpp
  gqcpy/src/ONVBasis/SpinUnresolvedONVBasis_bindings.cpp
Labels: Python, complexity: junior
